# build output
dist/

# dependencies
node_modules/

# OS system files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# environment variables
.env
.env.*
!.env.example

# Astro / Vite cache
.astro/
vite.config.js

# Obsidian
.obsidian/
.smart-env/
.space/
.markemd/