:root {
    --btn-bg-color: rgba(255, 255, 255, 0.1);
    --btn-text-color: #fff;
}

:root.dark-mode {
    --btn-bg-color: rgba(30, 30, 30, 0.7);
    --btn-text-color: #121212;
}



.side-button {  
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.side-button i {
    font-size: 18px;
}

.side-button:hover {
    opacity: 1;
    transform: scale(1.05);
}

.btn {
    width: 40px;
    height: 40px;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: none;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.05);
}

.round {
    border-radius: 50%;
}

.square {
    border-radius: 12px;
}